@import "_normalize";
@import "_variables";
@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,500,700&display=swap&subset=latin-ext");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: $lightgrey;
  background-color: #04030c;
  background-image: radial-gradient(#3f3747, #04030c 130%);
  font-family: "Cormorant Garamond", serif;
  font-size: 16px;
}

.footer {
  align-items: center;
  color: $yellow;
  display: flex;
  font-size: 1.3rem;
  justify-content: center;
  margin-top: 30px;
  padding: 16px 0;
  width: 100%;
  &__icon {
    margin: 0 10px 0 10px;
  }
}

.form-field__input {
  background: transparent;
  border: 1px solid $yellow;
  border-width: thin;
  color: $lightgrey;
  font-size: 1.4rem;
  padding: 12px;
  &::placeholder {
    color: $lightgrey;
  }
}

.form-field__label {
  display: inline-block;
  color: $yellow;
  font-size: 1.4rem;
  margin: 0 0 10px;
}

.form-field__option {
  background: #383140;
  font-size: 1.4rem;
}

.form-field__select {
  background: transparent;
  border: 1px solid $yellow;
  border-width: thin;
  color: $lightgrey;
  font-size: 1.4rem;
  padding: 8px;
  width: 100%;
}

.form-field__submit {
  background: transparent;
  border: 1px solid $yellow;
  border-width: thin;
  color: $lightgrey;
  cursor: pointer;
  font-size: 1.4rem;
  padding: 10px;
  width: 100%;
}
.form-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.header {
  display: flex;
  margin-top: 50px;
}

.header__title {
  font-size: 64px;
  letter-spacing: 1.3px;
  margin-left: 38px;
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
}

.repository__avatar {
  display: block;
  height: 180px;
  margin: 0 auto;
  width: 180px;
}

.repository__container {
  display: block;
  max-width: 900px;
  width: 80%;
  margin: 40px auto 0 auto;
}

.repository__header {
  margin: 40px auto;
  max-width: 900px;
  text-align: center;
}

.repository__link {
  color: $lightgrey;
  text-decoration: none;
}

.repository__list {
  background: $grey;
  border-radius: 3px;
  border: 1px dotted $yellow;
  color: $yellow;
  font-size: 1.4rem;
  line-height: 1.9rem;
  list-style: none;
  margin: 0;
  padding: 16px;
}

.repository__list-item {
  word-wrap: break-word;
}

.repository__none {
  font-size: 1.4rem;
}

.repository__wrapper {
  margin: 40px auto 0 auto;
  max-width: 900px;
  width: 80%;
}

.separator {
  background: rgba(138, 134, 4, 0.3);
  border: none;
  height: 1px;
  margin: 3rem auto 0 auto;
  overflow: hidden;
  position: relative;
  width: 80%;
  &::before {
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    animation-name: progress;
    background: $olive;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    width: 80px;
  }
}

@keyframes progress {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(1440px);
  }
}
