@import "_normalize";
@import "_variables";
@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond:400,500,700&display=swap&subset=latin-ext");

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: $lightgrey;
  background: radial-gradient(#383140, #04030c);
  font-family: "Cormorant Garamond", serif;
  font-size: 16px;
  padding: 16px;
}

.form-field__input {
  background: transparent;
  border: 1px solid $yellow;
  border-width: thin;
  font-size: 0.8rem;
  padding: 8px;
  &::placeholder {
    color: $lightgrey;
  }
}

.form-field__label {
  display: inline-block;
  color: $yellow;
  font-size: 0.8rem;
  margin: 0 0 8px;
}

.form-field__option {
  background: #383140;
  font-size: 0.8rem;
}

.form-field__select {
  background: transparent;
  border: 1px solid $yellow;
  border-width: thin;
  color: $lightgrey;
  font-size: 0.8rem;
  padding: 4px;
}

.form-field__submit {
  background: transparent;
  border: 1px solid $yellow;
  border-width: thin;
  color: $lightgrey;
  font-size: 0.8rem;
  padding: 8px;
  width: 100%;
}
;
.form-wrapper {
  display: flex;
  justify-content: space-between
}
.header {
  display: flex;
}

.header__title {
  font-size: 48px;
  letter-spacing: 1.2px;
  margin-left: 32px;
}

.header__ghlogo {
  height: 120px;
  width: 120px;
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 50px 0;
  min-height: 100vh;
  width: 100%;
}

.separator {
  border:none;
  display: block;
  margin: 2rem auto;
  width: 90%;
  background: rgba(138,134,4,0.2);
  height: 1px;
}
